<h2 class="wizard_name"><%= @wizard.name %> </h2>
<div id="show_img"><%= image_tag(@wizard.image, id: "show_pic", size: "600x400")%></div><br /><br />
<%= @wizard.spells.each do |spell| %>
<div id="wizard_show">
  <p class="wizard_show">Spell Name: </p>
  <p class="wizard_show">Description: </p>
</div>

<% end %>